.bottom-main
  .news1
    .news1-list
      %li.slick
        -if @news.present?
          - @news.each do |news|
            =link_to "#", class: "new-news" do
              =image_tag "#{news.image}"
              .news-message
                = news.title 
  .news2
    .news2-lists.fade
      - if @new.present?
        - @new.each do |ne|
          %p.category_sa
            = "#{ne.category.name} " + "の一覧"
          %hr
      - else 
        %p.news-title
          New Articles
        %hr.shot
      %ul.news-box
        -if @news.present?
          - @news.each do |news|
            %li
              =link_to "/messages/#{news.id}", method: :get, class: "good-link" do
                .effect-scale
                  .effect-color
                    =image_tag "#{news.image}",class: "news"
                    .news-message
                      .news-message_text 
                        = news.title
                      .news-category
                        %p
                          = news.category.name
                        .good-link
                          - if Good.find_by(user_id: current_user.id, message_id: news.id)
                            .good-btn 
                              =icon("fas", "heart")
                              = news.goods.count
                          -else
                            .good-btn 
                              =icon("far", "heart")
                              = news.goods.count 
                         
    .ranking-lists.fade
      %p Daily Ranking
      %hr
      %li
        %span.rank 1
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image10.jpg"
          %p ミレニアル世代の価値観は違う ー 女性の働き方や悩みとは？
      %li
        %span.rank 2
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image3.jpg"
          %p  職場のコミュニケーション不足で起こる2つの問題＆すぐできる対策法
      %li
        %span.rank 3
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image8.jpg"
          %p  言いたいことが言えないのはなぜ？ 心理と自己主張のコツ
      %li
        %span.rank 4
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image7.jpg"
          %p  理想の自分になるには。今日から理想の自分に近づく5STEP 
      %li
        %span.rank 5
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image9.jpg"
          %p  楽しい人生を送るために。つまらない毎日からの脱却法 
  - if params[:category_id].present?
    = paginate(@news)         