#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 新規アカウントの作成
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          .field-label
            = f.label :name,"名前"
          .field-input
            = f.text_field :name, placeholder: "(例)菓子 太郎"
        .field
          .field-label
            = f.label :birthday, "誕生日 (半角英数字)"
          .field-input
            = f.text_field :birthday, placeholder: "(例)1993年6月25日生まれ→ 19930625"
        .field
          .field-label
            = f.label :phone_number, "電話番号 (半角英数字)"
          .field-input
            = f.text_field :phone_number, placeholder: "(例)00011112222 ハイフンなし"
        .field
          .field-label
            = f.label :email, "メールアドレス (半角英数字)"
          .field-input
            = f.email_field :email, type: "email"
        .field
          .field-label
            = f.label :password, "パスワード (英数字8文字以上)"
          .field-input
            = f.password_field :password, autocomplete: "off"
        .field
          .field-label
            = f.label :password_confirmation, "再パスワード"
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "Create Account", class: 'btn'
