.account-page
  %header#top-header 
    %p.title Heroine
    %hr.line1
    %hr.line2
    %p.sign Login
  .account-page__inner.user-form
    = form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f|
      = render 'layouts/error_messages', model: f.object
      .field
        .field-label
          = f.label :email
        .field-input
          = f.email_field :email
      .field
        .field-label
          = f.label :password
          %i (英数字8文字以上)
        .field-input
          = f.password_field :password, autocomplete: "off"
      .actions
        = f.submit "Log in", class: 'btn'
        %li
          =link_to "パスワードを忘れた方へ", new_user_password_path, class: "actions-list"
        %li
          =link_to "新規アカウント作成", new_user_registration_path, class: "actions-list"
